.start-screen {
    min-width: 100%;
    height: 100%;
    position: relative;
    padding-bottom: 20px;
}

.start-screen-title {
    top: 20px;
    left: 80px;
    /* display: none; */
}

[class*="tile-"] {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

.tiles-group {
    margin-left: 0;
    margin-top: 50px;
}

@media all and (min-width: 768px) {
    .start-screen-title {
        display: block;
    }
    .start-screen {
        padding: 140px 80px 0 0;
    }
    .tiles-group {
        left: 100px;
    }
    .tiles-group {
        margin-left: 80px;
    }
}

.bg-dark {
    background-color: #1d1d1d !important;
}